<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="canvas">
        <nav class="navbar navbar-expand-lg" style="margin-top: -14px;">
            <div class="container-fluid" style="background-color: rgb(252, 218, 168);">
                <a class="navbar-brand" href="#">Professional Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; margin-left: 1000px;">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/professional_dashboard/{{p_id}}">Home</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/professional_search_services/{{p_id}}">Search</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/profes_summary_dash/{{p_id}}">Summary</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="mt-4" style="margin: 10px;">
            <div class="search-container d-flex justify-content-end">
                <form id="searchForm" class="d-flex align-items-center" method="post" action="/professional_search_services/{{p_id}}">
                    <label for="searchBy" class="form-label me-2">Search By:</label>
                    <select class="form-select me-2" id="searchBy" name="search-by" required style="width: 150px;">
                        <option value="start Date">Start Date</option>
                        <option value="pincode">Pincode</option>
                        <option value="address">Address</option>
                    </select>
                    <input type="text" class="form-control me-2" id="searchInput" placeholder="Please enter" name="search_term" required style="width: 150px;">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <div id="trans-table" style="margin: auto; height: 350px;">
            {% if c_Services | length == 0 %}
                <h5 class="text-center">Oops!! We don't have any services right now on this platform.</h5>
            {% else %}
                <h2 class="headings text-center">Service History</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Customer name</th>
                        <th scope="col">Contact no.</Details></th>
                        <th scope="col">Location</th>
                        <th scope="col">Date of comp</th>
                        <th scope="col">Status</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for req in c_Services %}
                        <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{req.customer.fullname}}</td>
                        <td>{{req.customer.phone_no}}</td>
                        <td>{{req.customer.address}}  {{req.customer.pincode}}</td>
                        <td>{{req.date_of_completion}}</td>
                        <td>{{req.service_status}}</td>
                        <td>{{req.service_rating}}</td>
                        <td>
                            {% if req.service_status == 'Completed' %}
                            <a href="/professional_review/{{ req.id }}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Reviw_customer{{req.id}}" >Close it?</a>
                            {% else %}
                            reviewed
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    <div id="Reviw_customer{{req.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Your Profile</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/professional_review_from_search/{{ req.id }}" method="POST">
                                    <div class="form-group">
                                        <label for="name">Customer Name:</label>
                                        <input type="text" class="form-control" id="name" value="{{req.customer.fullname}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Phone Number:</label>
                                        <input type="text" class="form-control" id="username" value="{{req.customer.phone_no}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address:</label>
                                        <input type="text" class="form-control" id="address" value="{{req.customer.address}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="pincode">Duration</label>
                                        <input type="text" class="form-control" id="pincode" value="{{req.date_of_request}}-{{req.date_of_completion}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="Remark">Remarks:</label>
                                        <textarea class="form-control" id="Remark" name="remark" rows="2" placeholder="" required></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </table>
        </div> 
    </div>     
</body>
</html>
